@font-face {
  font-family: "Spezia";
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Complete_Upright.woff?v=1595795228546")
    format("woff");
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Complete_Upright.woff2?v=1595794423447")
    format("woff2");
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 0% 100%;
}

@font-face {
  font-family: "Spezia";
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Complete_Italic.woff?v=1595795217713")
    format("woff");
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Complete_Italic.woff2?v=1595795171774")
    format("woff2");
  font-style: italic;
  font-weight: 1 1000;
  font-stretch: 0% 100%;
}

@font-face {
  font-family: "SpeziaCompleteTrial-Monospace";
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Monospace_Complete.woff?v=1595795254100")
    format("woff");
  src: url("https://cdn.glitch.com/c26b9bee-ed3c-4334-b900-f5742e314ad5%2FSpezia_Web_Monospace_Complete.woff2?v=1595795146460")
    format("woff2");
}